/* BODY */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* APP */

.App,
.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FORMS */
.taskForm {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.loadTaskContainer {
  flex-direction: column;
}

.taskForm input {
  display: flex;
  margin: 5px;
  width: 15vh;
}

.loadTaskContainer input {
  width: 30vh;
}

.taskForm .buttons {
  display: flex;
  flex-direction: column;
}

.taskInputContainer {
  flex-direction: column;
}

.taskInputs {
  display: flex;
  flex-direction: row;
}

.urlLinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* TASK LIST */
.taskListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskContainer {
  margin: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
